Package                       Version
----------------------------- -------------------
alabaster                     0.7.12
applaunchservices             0.2.1
appnope                       0.1.0
arch                          4.15
argh                          0.26.2
arviz                         0.9.0
astroid                       2.3.3
astropy                       4.0.1.post1
atomicwrites                  1.4.0
attrs                         19.3.0
autopep8                      1.5.3
Babel                         2.8.0
backcall                      0.2.0
backtrader                    1.9.75.123
beautifulsoup4                4.9.1
bleach                        3.1.5
blis                          0.4.1
Bottleneck                    1.3.2
brotlipy                      0.7.0
calmap                        0.0.8
catalogue                     1.0.0
category-encoders             2.2.2
certifi                       2020.6.20
cffi                          1.14.0
cftime                        1.1.3
chardet                       3.0.4
click                         7.1.2
cloudpickle                   1.5.0
cmdstanpy                     0.4.0
colorlover                    0.3.0
confuse                       1.3.0
convertdate                   2.2.1
cpi                           0.1.16
cryptography                  2.9.2
cufflinks                     0.17.3
cvxpy                         1.1.1
cycler                        0.10.0
cymem                         2.0.3
Cython                        0.29.17
decorator                     4.4.2
defusedxml                    0.6.0
diff-match-patch              20200713
docutils                      0.16
ecos                          2.0.7.post1
eli5                          0.10.1
empyrical                     0.5.3
entrypoints                   0.3
ephem                         3.7.7.1
fastai                        1.0.61
fastprogress                  0.2.3
fbprophet                     0.6
flake8                        3.8.3
future                        0.18.2
graphviz                      0.14
h5py                          2.10.0
holidays                      0.10.2
htmlmin                       0.1.12
hyperopt                      0.2.4
idna                          2.10
ImageHash                     4.1.0
imagesize                     1.2.0
imbalanced-learn              0.7.0
imblearn                      0.0
importlib-metadata            1.7.0
inflection                    0.5.0
intervaltree                  3.0.2
intrinio-sdk                  5.6.0
ipykernel                     5.3.3
ipython                       7.16.1
ipython-genutils              0.2.0
ipywidgets                    7.5.1
isort                         4.3.21
jedi                          0.17.1
Jinja2                        2.11.2
joblib                        0.15.1
jsonschema                    3.2.0
jupyter-client                6.1.6
jupyter-core                  4.6.3
keyring                       21.2.1
kiwisolver                    1.2.0
korean-lunar-calendar         0.2.1
lazy-object-proxy             1.5.0
lightgbm                      2.3.1
llvmlite                      0.33.0
LunarCalendar                 0.0.9
lxml                          4.5.1
MarkupSafe                    1.1.1
matplotlib                    3.2.2
mccabe                        0.6.1
missingno                     0.4.2
mistune                       0.8.4
more-itertools                8.4.0
multitasking                  0.0.9
murmurhash                    1.0.2
nbconvert                     5.6.1
nbformat                      5.0.7
netCDF4                       1.5.3
networkx                      2.4
notebook                      6.0.3
numba                         0.50.1
numexpr                       2.7.1
numpy                         1.18.5
numpydoc                      1.1.0
nvidia-ml-py3                 7.352.0
osqp                          0.6.1
packaging                     20.4
pandas                        1.0.5
pandas-datareader             0.8.1
pandas-profiling              2.8.0
pandocfilters                 1.4.2
parso                         0.7.0
pathtools                     0.1.2
patsy                         0.5.1
pexpect                       4.8.0
phik                          0.10.0
pickleshare                   0.7.5
Pillow                        7.2.0
pip                           20.1.1
plac                          1.1.3
plotly                        4.8.1
pluggy                        0.13.1
pmdarima                      1.6.1
preshed                       3.0.2
prometheus-client             0.8.0
prompt-toolkit                3.0.5
property-cached               1.6.4
psutil                        5.7.0
ptyprocess                    0.6.0
pycodestyle                   2.6.0
pycparser                     2.20
pydocstyle                    5.0.2
pydotplus                     2.0.2
pyflakes                      2.2.0
pyfolio                       0.9.2
Pygments                      2.6.1
pylint                        2.4.4
pymc3                         3.9.2
PyMeeus                       0.3.7
pynvx                         1.0.0
pyOpenSSL                     19.1.0
pyparsing                     2.4.7
pyrsistent                    0.16.0
PySocks                       1.7.1
pystan                        2.19.1.1
python-dateutil               2.8.1
python-jsonrpc-server         0.3.4
python-language-server        0.34.1
pytz                          2020.1
PyWavelets                    1.1.1
PyYAML                        5.3.1
pyzmq                         19.0.1
QDarkStyle                    2.8.1
QtAwesome                     0.7.2
qtconsole                     4.7.5
QtPy                          1.9.0
Quandl                        3.5.0
QuantLib                      1.18.1
requests                      2.24.0
retrying                      1.3.3
rope                          0.17.0
Rtree                         0.9.4
scikit-learn                  0.23.1
scipy                         1.4.1
scs                           2.1.2
seaborn                       0.10.1
Send2Trash                    1.5.0
setuptools                    49.2.0.post20200714
setuptools-git                1.2
six                           1.15.0
snowballstemmer               2.0.0
sortedcontainers              2.2.2
soupsieve                     2.0.1
spacy                         2.3.2
Sphinx                        3.1.2
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        1.0.3
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.4
spyder                        4.1.4
spyder-kernels                1.9.2
srsly                         1.0.2
statsmodels                   0.11.1
TA-Lib                        0.4.18
tabulate                      0.8.7
tangled-up-in-unicode         0.0.6
terminado                     0.8.3
testpath                      0.4.4
Theano                        1.0.4
thinc                         7.4.1
threadpoolctl                 2.1.0
toml                          0.10.1
torch                         1.5.1
torchvision                   0.6.1
tornado                       6.0.4
tqdm                          4.47.0
traitlets                     4.3.3
typing-extensions             3.7.4.2
ujson                         1.35
urllib3                       1.25.9
visions                       0.4.4
wasabi                        0.7.1
watchdog                      0.10.3
wcwidth                       0.2.5
webencodings                  0.5.1
wheel                         0.34.2
widgetsnbextension            3.5.1
wrapt                         1.12.1
wurlitzer                     2.0.1
xarray                        0.15.1
xgboost                       1.1.1
xlrd                          1.2.0
yapf                          0.30.0
yfinance                      0.1.54
zipp                          3.1.0
